* {
    box-sizing: border-box;
}

body {
    background-color: powderblue;
    color: darkblue;
}

.buttons {
    display: inline-block;
    float: left;
}

.buttons button, .buttons input {
    display: block;
    color: darkblue;
}

.buttons button {
    margin-bottom: 0.75rem;
    background-color: cadetblue;
    border: 1px solid darkblue;
    border-top: none;
}

.buttons input {
    background-color: lightcyan;
    border: 1px solid darkblue;;
}

.buttons button:active {
    background-color: darkblue;
    color: cadetblue;
}

#canvas {
    width: 600px;
    height: 600px;
    background-color: cadetblue;
    display: inline-block;
    float: left;
    margin: 0 1rem;
    border: 2px solid darkblue;
}

#canvas div {
    /* position: absolute;
    display: none; */
}

.Square {
	background: red;
}

.Rectangle {
	background: green;
}

.Triangle {
    width: 0;
	height: 0;
	border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-color:yellow;
    border-right-color: transparent;
}

.Circle {
	background: purple;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#sidePanel {
    border: 2px solid darkblue;
    width: 250px;
    height: 400px;
    float: left;
    background-color: cadetblue;
    visibility: hidden
}